{% extends "appcuentas/base.html" %}

{% block title %} Saturno | Productos {% endblock title %}

{% block main %}

<section class="page-section">
    <div class="container text-white text-center">
        <h1 class="pb-4">LISTADO PRODUCTOS</h1>
        <hr>
        <br>
        {% for producto in productos %}
            <p>Nombre: {{producto.nombre}} — Precio: ${{producto.precio}}</p>
            <br>
            <p class="botones">
                <a class="btn btn-dark" href="{% url 'ver-producto' producto.pk %}">Detalle</a>
                {% if request.user.is_superuser %}
                    <a class="btn btn-dark" href="{% url 'editar-producto' producto.pk %}">Editar</a>
                    <a class="btn btn-dark" href="{% url 'eliminar-producto' producto.pk %}">Eliminar</a>
                {% endif %}
            </p>
            <hr>
        {% endfor %}

        {% if request.user.is_superuser %}
            <a class="btn btn-dark" href="{% url 'nuevo-producto' %}">Nuevo Producto</a>
        {% endif %}
    </div>
</section>    

{% endblock %}
