{% extends "appcuentas/base.html" %}

{% block title %} Saturno | Proveedores {% endblock title %}

{% block main %}

<section class="page-section">
    <div class="container text-white text-center">
        <h1 class="pb-4">LISTADO PROVEEDORES</h1>
        <hr>
        <br>
        {% for proveedor in proveedores %}
            <p>Empresa: {{proveedor.empresa}}</p>
            <p>Teléfono: {{proveedor.telefono}}</p>
            <br>
            <p>
                <a class="btn btn-dark" href="{% url 'ver-proveedor' proveedor.pk %}">Detalle</a>
                {% if request.user.is_superuser %}
                    <a class="btn btn-dark" href="{% url 'editar-proveedor' proveedor.pk %}">Editar</a>
                    <a class="btn btn-dark" href="{% url 'eliminar-proveedor' proveedor.pk %}">Eliminar</a>
                {% endif %}
            </p>
            <hr>
        {% endfor %}

        {% if request.user.is_superuser %}
            <a class="btn btn-dark" href="{% url 'nuevo-proveedor' %}">Nuevo Proveedor</a>
        {% endif %}
    </div>
</section>    

{% endblock %}
