{% extends "appcuentas/base.html" %}

{% block title %} Saturno | Ficha Producto {% endblock title %}

{% block main %}

<section class="page-section">
    <div class="container text-white text-center justify-content-center">
        <h1 class="pb-4">FICHA PRODUCTO</h1>
        <br>
        <hr>
        <div class="pb-4">
            <h2>{{producto.nombre}}</h2>
            <h5>Precio: ${{producto.precio}}</h5>
        </div>
        <div>
            <a class="btn btn-dark" href="{% url 'editar-producto' producto.pk %}">Editar</a>
            <a class="btn btn-dark" href="{% url 'eliminar-producto' producto.pk %}">Eliminar</a>
        </div>
        <a class="btn btn-dark mt-5" href="{% url 'productos' %}">Volver</a>
    </div>
</section>    

{% endblock %}
